.header{
    background-color: rgb(87, 140, 238);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
}
.left-section{
    justify-content: space-between;
    display:flex;
    align-items: center;
}

.logo{
    height: 95px;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.right-section {
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}
.homepage-section, .type-section, .monkeyknowledge-section, .credits-section,.title {
    color: white;
    font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right:16px;
}
.title{
    font-size: 25px;
}
